@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* General Reset */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #ffffff;
  color: #4f4f4f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30px;
  position: relative;
  z-index: 1000;
}

.logo img {
  height: 40px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #4f4f4f;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #f00303;
}

.checkbtn {
  font-size: 30px;
  color: #4f4f4f;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 20px;
}

.checkbtn img {
  width: 30px;
  height: auto;
}

#check {
  display: none;
}

/* Contact and Language Selector */
.contact-button-mobile,
.language-selector-mobile {
  display: none; /* Hidden by default for desktop */
}

.contact-button a,
.language-selector-mobile {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 1.5px;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.contact-button a:hover {
  background-color: red;
  color: white;
}

/* Mobile Styles */
@media (max-width: 768px) {
  nav ul {
    position: fixed;
    top: 60px;
    right: -100%;
    background-color: #ffffff;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s;
    z-index: 999;
  }

  nav ul li {
    display: flex;
    align-items: center;
    margin: 12px 0;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    right: 0;
  }

  .checkbtn {
    display: block;
  }

  /* Ensure Language Selector and Contact Button are visible in mobile */
  .language-selector-mobile,
  .contact-button-mobile {
    display: block;
    margin: 12px 0; /* Add spacing */
    width: 50%; /* Full width in the menu */
    text-align: center;
  }

  .contact-button {
    display: none; /* Hide original contact button in mobile */
  }

  .language-selector-desktop {
    display: none; /* Hide desktop language selector in mobile */
  }
}

/* Desktop Styles */
@media (min-width: 769px) {
  .language-selector-mobile,
  .contact-button-mobile {
    display: none; /* Hide mobile versions */
  }

  .contact-button-desktop,
  .language-selector-desktop {
    display: flex;
  }
}
