/* General Reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Location Page Styling */
.location-page {
  text-align: center;
}

/* Header Section */
.header {
  background: url("/images/7.jpg") center/cover no-repeat;
  color: rgb(255, 255, 255);
  padding: 1.5rem;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

/* Cards Section */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.card {
  text-decoration: none;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.card h2 {
  color: black;
  text-align: left;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.card p {
  text-decoration: none;
  color: black;
  text-align: left;
  font-size: 0.9rem;
  color: #555;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .header {
    height: 150px;
    padding: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .card-img {
    height: 120px;
  }

  .card h2 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.8rem;
  }
}
